/* unt judul */

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&family=Source+Code+Pro&family=Tilt+Prism&display=swap');
/* unt nama */
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@700&family=Source+Code+Pro&family=Tilt+Prism&display=swap');
body{
    /* background: #03173f; */
    background-image: url("assets/wallpaper2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.tengah{
    display: grid;
    justify-content: center;
    place-items: center;
    min-height: 100vh;
   
}
.full{
    display: grid;
    min-height: 100vh;
}
h1{
    font-family: "Kode Mono", monospace;
}
.hide{
    opacity: 0;
    transition: all 1s;
}
/* .show{
    opacity: 1;
    
} */
.trans{
    backdrop-filter: blur(50px);
    box-shadow: 5px 10px white;
    
}
.nav-link{
    position: relative;
}
.nav-link::after{
    content: '';
    opacity: 0;
    transition: all 0.25s;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    
    background-color: aliceblue;
    position: absolute;

}
.nav-link:hover::after{
    opacity: 1;
}
.transparent{
    border-top: 1px solid rgb(255, 255, 255, 0.3);
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background: transparent;
}
img{
    border-radius: 50px;
    padding: 20px;
    background: transparent;
    background-color: rgba((152, 139, 204,0.270));
    backdrop-filter: blur(10px);
    border-top: 1px solid rgb(255, 255, 255, 0.3);
    border-right: 1px solid rgb(255, 255, 255, 0.3);
}
h3{
    font-family: "Anta", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.borderKeren{
    border-top: 1px solid rgb(255, 255, 255, 0.3);
    border-left: 1px solid rgb(255, 255, 255, 0.3);
}
.social{
    bottom: 0;
}
.socialBorder{
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 20px;
}
.tip{
    color: beige;
    font-size: 20px;
    border-radius: 20px;
    /* opacity: 0; */
    transition: all 0.3s;
}

.icon{
    cursor: pointer;

}

.icon:hover + .tip{
   /* color: aqua; */
   opacity: 1;
    pointer-events:auto;
}

.hidden{
 opacity: 0;
 /* transform: translateX(-100%); */
 transition: 5s;
}
.show{
opacity: 1;
}
section{
    
    padding-bottom: 250px;
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.tinggi{
   height: 100%;
}
.container .efek:hover{
    width: 100%;
    height: 100%;
}
.urut{
    border-radius: 25px;
    padding: 30px;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    min-height: 100%;
    min-width: 100%;
}